<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    {{!-- <link rel="stylesheet" href="/css/jass.css"> --}}
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div>
        <header class="main-color">
            <nav class="nav-bar">
                <div class="main-color">
                    <a href="/" class="nav-options">Home</a>
                    <a href="/api/posts" class="nav-options">Dashboard</a>
                    <!-- Conditionally render login or logout links -->
                    {{#if logged_in}}
                    <a href="/" id="logout" class="nav-options">Logout</a>
                    {{else}}
                    <a href="/login" class="nav-options">Login</a>
                    {{/if}}
                </div>
                <h1 class="main-title bg-color">
                    The Tech Blog
                </h1>
            </nav>
        </header>
        <main class="bg-color">
            <!-- Render the sub layout -->
            {{{ body }}}
        </main>
        <footer>

        </footer>
    </div>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>