{{#if posts.length}}
<div class="dashboard-container">
    <div class="post-list">
        {{#each posts as |post|}}
        <div class="my-post">
            <a class="my-post-title" data-id="{{post.id}}" href="/api/posts/myposts/{{post.id}}">{{post.title}}</a></h4>
            <p class="my-post-date">{{format_date post.date_created}}</p>
        </div>
        {{/each}}
    </div>
    {{/if}}
    
    <div class="btn-container">
        <button id="add-new-btn" class="add-new-btn"><a class="btn-anchor" href="/post">+ New Post</a></button>
    </div>
</div>


<script src="/js/dashboard.js"></script>