<div class="login-body">
    <div class="login-form-container">
        <h2 class="main-color login-head">Login</h2>
        <form class="form login-form bg-color">
            <div class="form-group input-container">
                <label for="username-login" class="username-label">Username</label>
                <div class="input-username">
                    <input class="form-input" type="text" id="username-login" />
                </div>
            </div>
            <div class="form-group input-container">
                <label for="password-login" class="password-label">Password</label>
                <div class="input-password">
                    <input class="form-input" type="password" id="password-login" />
                </div>
            </div>
            <div class="form-group ">
                <button class="btn btn-primary submit-btn" type="submit">Login!</button>
            </div>
            <div class="signup-option-container">
                <a class="signup-option" href="/register">Sign up instead</a>
            </div>
        </form>
    </div>
</div>

<script src="./js/login.js"></script>