<div class="signup-body">
    <div class="signup-form-container">
        <h2 class="page-title main-color signup-head">Signup</h2>
        <form class="form signup-form bg-color">
            <div class="form-group input-container">
                <label for="username-signup" class="username-label">Username</label>
                <div class="input-username">
                    <input class="form-input" type="text" id="username-signup" />
                </div>
            </div>
            <div class="form-group input-container">
                <label for="password-signup" class="password-label">Password</label>
                <div class="input-password">
                    <input class="form-input" type="password" id="password-signup" />
                </div>
            </div>
            <div class="form-group submit-btn-container">
                <button class="btn btn-primary submit-btn" type="submit">Signup</button>
            </div>
            <div class="login-option-container">
                <a class="login-option" href="/login">Login instead</a>
            </div>
        </form>
    </div>
</div>

<script src="./js/signup.js"></script>