<form class="form update-comment-form" id="comment-btn" data-comment-id="{{id}}" data-post-id="{{post_id}}" data-user-id="{{user_id}}">
    <div class="form-head main-color"></div>
    <div class="form-group form-body">
        <label for="comment-content" class="comment-label">Update Your Comment</label>
        <div class="textarea-container">
            <textarea class="form-input" id="comment-content" name="content">{{content}}</textarea>
        </div>
    </div>
    <div class="form-group submit-btn-container">
        <button type="submit" class="btn btn-primary submit-btn">Update</button>
    </div>
</form>

<script src="/js/updateComment.js"></script>