:root {
    --main-color: rgba(35, 16, 16, 255);
    --bg-color:rgba(217, 234, 211, 255)
}

*{
    margin: 0px;
    padding: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: var(--bg-color); */
    
}

body{
    background-color: var(--bg-color);
}

.main-color{
    background-color: var(--main-color);
}

.bg-color{
    background-color: var(--bg-color);
}

.nav-bar{
    background-color: var(--main-color);
}

.nav-options{
    display: inline-block;
    color: var(--bg-color);
    font-size: 23px;
    margin-left: 80px;
    margin-top: 30px;
    margin-bottom: 12.5px;
    text-decoration: none;
}

.main-title{
    display: inline-block;
    font-size: 40px;
    margin-top: 12.5px;
    margin-bottom: 45px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 80px;
    border-radius: 10px;
    box-shadow: 5px 5px 0px 0px rgba(167, 167, 167, 255);
}

.post-container{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border: solid var(--main-color ) 4px;
    margin-bottom: 20px;
}

.post-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-title{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    color: var(--bg-color);
    font-size: 25px;
    text-decoration: none;
}

.post-user{
    color: rgba(161, 161, 161, 255);
    padding-right: 20px;
}

.post-content{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 25px;
}